.announcement-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}


.announcement-title {
  background-color: lightgreen;
}

.announcement-conmain {
  width: 100%;
  height: auto;
}

.announcement-content {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
  border-bottom: 1px solid black;
}
.announcement-con-title {
  flex: 1;
  padding-left: 20px;
}
.announcement-con-date {
  font-size: 10pt;
}
.announcement-con-txt {
  font-size: 13pt;
  text-align: left;
}
.announcement-number {
  padding: 0px 5px;
}
.announcement-bottom {
  display: flex;
  justify-content: space-between;
}
#insert-button {
  padding: 5px 0px;
}
#announcement-title {
  width: 95%;
}
.announcement-page-no {
  margin: 0px 10px;
}
