@charset "UTF-8";

@font-face {
  font-family: "CustomFont";
  src: url("../fonts/Yomogi-Regular.ttf") format("truetype");
}

.html-body, .html-body * {
	 font-family: 'CustomFont', Arial, sans-serif;
}

.html-body {
	overflow: auto;
}

.html-body .fc-header-toolbar {
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

.highlighted-day .fc-daygrid-day-frame {
	border: 2px solid red;
}

#button-container {
	position: relative;
	padding-bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

.html-body .button-dday {
	background: #000;
	color: #fff;
	z-index: 1;
	position: relative;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}

.html-body .button-dday:after {
	position: absolute;
	content: "";
	width: 0;
	height: 100%;
	top: 0;
	right: 0;
	z-index: -1;
	background: #e0e5ec;
	transition: all 0.3s ease;
}

.html-body .button-dday:hover {
	color: #000;
}

.html-body .button-dday:hover:after {
	left: 0;
	width: 100%;
}

.html-body .button-dday:active {
	top: 2px;
}

.html-body #calendar {
	max-width: 1200px;
	margin: 20px auto;
	height: -100px;
	overflow: auto;
}

.popover-body img {
    width: 148px;
    height: 148px;
    object-fit: cover;
}

