@import 'https://fonts.googleapis.com/css?family=Lato:300,300i,900,900i';

.txt__normal {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.txt__normal--it {
    font-style: italic;
}

.txt__bold {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.txt__bold--it {
    font-style: italic;
}

.txt__awesome {
    font: normal normal normal 14px/1 FontAwesome;
}

/* VARIABLES */
@col__black: fade(#000000, 90%);
@col__white: #ffffff;
@col__grey: fade(@col__black, 10%);
@col__lightgrey: #F5F5F5;
@col__blu: #00407b;
@col__red: #F57170;
@col__green: #10DDC2;
@col__yellow: #FACC2E;
@sz__small: 13px;
@sz__medium: 16px;
@sz__large: 28px;
@mr__small: 20px;
@mr__medium: 30px;
@mr__large: 50px;
@headerH: 80px;
@asideW: 300px;
@letter-spacing: 2px;
@zindex-1: 10;
@zindex-2: 20;
@zindex-3: 30;
@zindex-4: 40;
@zindex-5: 50;
@zindex-top: 100;
@border-radius: 6px;

/* RESPONSIVE */
@mq__smartphone: "(max-width: 1024px)";

/* STYLE */
body {
    position: relative;
    height: 100%;
    &.overlay {
        &:before {
            position: fixed;
            content: '';
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: fade(@col__black, 40%);
            z-index: @zindex-top;
        }
    }
}

html {
    height: 100%;
    background: darken(@col__blu, 4%);
    color: @col__white;
    font-size: @sz__small;
    .txt__normal;
}

.wrapper {
    position: relative;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

/* UTILITY */
.u-transition {
    transition: all 0.4s cubic-bezier(0.4, 0.0, 0.2, 1);
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0.0, 0.2, 1);
    &.long {
        transition: all 0.8s cubic-bezier(0.4, 0.0, 0.2, 1);
        -webkit-transition: all 0.8s cubic-bezier(0.4, 0.0, 0.2, 1);
    }
    &.elastic {
        transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 1.275);
        -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    }
}

.resetDefaultApparence {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 0px;
    padding: 0;
    border-width: 0;
    resize: none;
    &::-ms-expand {
        display: none;
    }
}

/* STYLE */
header {
    position: fixed;
    height: @headerH;
    width: 100%;
    z-index: @zindex-5;
    background: darken(@col__blu, 4%);
    & > .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 @mr__small;
        .u-border-box;
        color: @col__white;
        letter-spacing: @letter-spacing;
        font-size: @sz__small;
        a {
            color: @col__white;
            text-decoration: none;
            margin-left: @mr__small/2;
        }
    }
}

.c-monthyear {
    display: flex;
}

.c-month {
    position: relative;
    height: @headerH;
    line-height: @headerH;
    #c-paginator {
        position: relative;
        width: 200px;
        display: block;
        height: @headerH;
        line-height: @headerH;
        text-align: center;
        overflow: hidden;
        .c-paginator__month {
            position: absolute;
            width: 200px;
            top: 0;
            bottom: 0;
            right: 0;
            &:nth-child(1) {
                left: 0;
            }
            &:nth-child(2) {
                left: 200px;
            }
            &:nth-child(3) {
                left: 400px;
            }
            &:nth-child(4) {
                left: 600px;
            }
            &:nth-child(5) {
                left: 800px;
            }
            &:nth-child(6) {
                left: 1000px;
            }
            &:nth-child(7) {
                left: 1200px;
            }
            &:nth-child(8) {
                left: 1400px;
            }
            &:nth-child(9) {
                left: 1600px;
            }
            &:nth-child(10) {
                left: 1800px;
            }
            &:nth-child(11) {
                left: 2000px;
            }
            &:nth-child(12) {
                left: 2200px;
            }
        }
    }
}

.prev,
.next {
    position: absolute;
    display: block;
    top: 50%;
    width: @mr__medium;
    height: @mr__medium;
    padding: 9px 12px;
    background-color: lighten(@col__blu, 4%);
    cursor: pointer;
    z-index: @zindex-1;
    .u-border-box;
    .u-transform(translatey(-50%));
    .u-border-radius(50%);
    .u-transition;
}

.prev {
    left: 0;
    &:hover {
        padding: 9px 10px;
        background-color: lighten(@col__blu, 8%);
    }
}

.next {
    right: 0;
    &:hover {
        padding: 9px 14px;
        background-color: lighten(@col__blu, 8%);
    }
}
