@charset "UTF-8";

a {
  color: inherit; /* 부모 요소의 색상 상속 */
  text-decoration: none; /* 밑줄 제거 */
}

nav {
  display: flex;
}

main {
  background-color: #ffd3d3;
}

.main-logo {
  margin-left: 45px;
  width: 175px;
  height: 84px;
  background-color: #b8178b;
  display: flex;
}

.mene-lists {
  list-style: none;
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
}

.mene-lists > li {
  font-size: 25px;
  margin-right: 27px;
}
.nav-userinfo {
  margin-left: 129px;
  margin-top: 15px;
}
.live-members {
  margin-top: 50px;
}
.live-members > .members {
  font-size: 32px;
  margin-left: 245px;
  color: #756363;
}

.live-contents {
  width: 1187px;
  height: 501px;

  margin-left: 126px;
  margin-top: 102px;
  display: flex;
}

.live-content {
  width: 100%;
  max-width: 800px; /* 원하는 최대 너비 */
  margin: 0 auto;
}
.live-stream {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 비율 유지 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}
.live-stream iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.live-content {
  width: 1013px;
  height: 501px;
  background-color: white;
  margin-left: 47px;
  margin-right: 47px;
}

.live-contents > .left-slider-button {
  margin-top: 220px;
}

.live-contents > .right-slider-button {
  margin-top: 220px;
}
.today-vtuber {
  margin-top: 127px;
  margin-left: 97px;
  width: 1242px;
  height: 751px;
  background-color: blue;
}
.today-vtuber > p {
  font-size: 32px;
}

footer {
  height: 346px;
  background-color: white;
}

.today-vtuber-photo {
  width: 634px;
  height: 596px;
  background-color: white;
  /* margin-top: 115px; */
}

.today-vtuber-archive {
  width: 472px;
  height: 274px;
  background-color: white;
  margin-left: 67px;
}

.today-vtuber-info {
  display: flex;
}
