@charset "UTF-8";

.member_containor {
	width: 100%;
	height: 800px;
	display: flex;
	border: 1px solid black;
	overflow-y: hidden;
}

.member_memberList_containor {
	width: 270px;
	height: 100%;
	border: 1px solid black;
	overflow-y: scroll;
}

/*스크롤 숨기기*/
.member_memberList_containor::-webkit-scrollbar {
	display: none;
}

.member_memberList {
	width: 100%;
	height: 80px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16pt;
}

.member_memberList_containor>.member_memberList:first-child {
	font-weight: 900;
	font-size: 20pt;
}

.member_memberList:hover {
	font-weight: 900;
	font-size: 20pt;
}

.member_img_containor {
	width: 100%;
	height: 100%;
	border: 1px solid black;
	display: grid;
	/*	flex-wrap: wrap;*/
	overflow: hidden;
	position: relative;
}

.member_backgroundImg {
	width: 100%;
	height: 800px;
	border: 1px solid black;
	display: flex;
}

.member_backgroundImg>img {
	width: auto;
	height: 100%;
	object-fit: cover;
	z-index: 0;
}

.member_detail_containor {
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0;
	z-index: 10;
}

.member_detail {
	width: 65%;
	height: 30%;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	position: absolute;
	bottom: 7%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.member_img_box {
	width: 30%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 13%;
	z-index: 10;
}

.member_img {
	height: 100%;
	width: 100%;
}

.member_img>img {
	height: 100%;
	width: auto;
}