@charset "UTF-8";

.member-container {
  width: 100%;
  height: 900px;
  display: flex;
  border: 1px solid black;
  overflow-y: hidden;
  position: relative;
}

.member-memberList-container {
  width: 20%;
  height: 100%;
  border: 1px solid black;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
}

/*스크롤 숨기기*/
.member-memberList-container::-webkit-scrollbar {
  display: none;
}

.member-list {
  width: 100%;
  height: 80px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
  font-weight: 900;
  font-size: 35pt;
}
.member-memberList {
  width: 100%;
  height: 80px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25pt;
}

.member-memberList:hover {
  font-weight: 900;
  font-size: 30pt;
  width: 110%;
  height: 100px;
}

.member-img-container {
  width: 80%;
  height: 100%;
  flex-wrap: wrap;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.member-backgroundImg {
  width: 100%;
  height: 900px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.member-backgroundImg.show {
  display: flex;
}

.member-backgroundImg > img {
  width: auto;
  height: 110%;
  object-fit: cover;
  z-index: 0;
  position: absolute;
  top: -5%;
  left: 0;
}

.member-img-box {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.member-img {
  height: 100%;
  width: 100%;
}

.member-img > img {
  height: 95%;
  width: auto;
  position: absolute;
  top: 2%;
  right: 3%;
}

.member-detail-container {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 10;
}

.member-detail {
  width: 65%;
  height: auto;
  background-color: #ffffff6b;
  border-radius: 20px;
  position: absolute;
  bottom: 7%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
}

#member-name{
	font-size: 30pt;
    font-weight: 900;
    padding-bottom: 4%;
}
#member-birth > span:nth-child(1){
	font-size: 15pt;
    font-weight: 600;
}
#member-debut > span:nth-child(1){
	font-size: 15pt;
    font-weight: 600;
}

.member-introduce-box{
    padding-top: 20px;
}

.member-mother-box{
	padding-bottom: 20px;
    padding-top: 20px;
}

#member-mother-name >span:nth-child(1){
	font-size: 15pt;
    font-weight: 600;
}

#member-hashtag-title{
	font-size: 15pt;
    font-weight: 600;
}
.member-hashtag-box{
	display: flex;
	flex-wrap: wrap
}
#member-hashtag{
	border: 1px solid black;
    border-radius: 20px;
    padding: 0.5%;
    margin: 1%;
}

.member-address-box {
  display: flex;
  flex-wrap: wrap
}

#member-address-title{
	font-size: 15pt;
    font-weight: 600;
}
#member-address {
  border: 1px solid black;
  border-radius: 20px;
  padding: 0.5%;
  margin: 1%;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  }



