@charset "UTF-8";

.mypage-container {
	font-family: 'CustomFont', sans-serif;
	font-weight: 900;
	display: flex;
	justify-content: flex-end;
	position: relative;
}

.mypage-menu-section {
	
	position: absolute;
	left: 75px;
	flex-direction: column;
	width: 15vw;
	gap: 10px 10px;
	display: flex;
	justify-content: center;
	margin-top: 70px;

}

.mypage-menu-title {
	display: flex;
	width: 75%;
	gap: 15px;
	align-items: center;
	font-size: 2rem;
	margin-top: -40px;

}

.mypage-menu-items {
	display: flex;
	border: 2px black solid;
	width: 82%;
	gap: 5px;
	border-radius: 10px;
	align-items: center;
	font-size: 2rem;
	  transition: background-color 0.1s ease;
}

.mypage-menu-items:hover{
	background-color: mediumpurple;
}

.mypage-menu-items.active {
    animation: rainbow 17s infinite;
}

/*메뉴 탭 무지개빛 변화 키프레임*/
@keyframes rainbow {
    0% { background-color: red; }
    14% { background-color: orange; }
    28% { background-color: yellow; }
    42% { background-color: rgb(0, 255, 255); }
    57% { background-color: rgb(255, 182, 193); }
    71% { background-color: rgb(0, 255, 128); }
    85% { background-color: violet; }
    100% { background-color: red; }
}


.menu-full-wrap{
	display: flex;
	align-items: center;
}

.mypage-menu-icon-wrap{
	margin: 10px;
}
.mypage-tab-icon-wrap{
	margin: 10px;
}

/*메뉴 커서 이미지*/
.menu-cursor{
	display: none;
	width: 50px;
    height: 45px;
    margin-left: 15px;
}

/*호버+액티브 시 보이도록 설정*/
.mypage-menu-items:hover + .menu-cursor,
.mypage-menu-items.active + .menu-cursor {
	display: block;
}

.mypage-menu-items.active + .menu-cursor {
	animation: float 2s infinite ease-in-out;
}

@keyframes float {
    0%, 100% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
}

.mypage-jsp-section {
	margin-top: 70px;
	margin-bottom: 10%;
	width: 80%;
	display: flex;
	flex-direction: column;
}

.mypage-menu-icon {
	width: 30px;
}
.mypage-tab-icon {
	width: 50px;

}

.mypage-tab-title{
	display: flex;
	align-items: center;	
}