.full-wrap {
	display: flex;
	flex-direction: column;
	position: relative;
	left: 50%;
	transform: translateX(-40%);
	margin: 100px;
}

.mypage-userinfo-container {
	width: 60%;
	height: 90%;
	display: flex;
	margin-bottom: 100px;
	border: 2px solid black;
	border-radius: 15px;
	font-size: 1.5rem;
}

.mypage-userinfo-left {
	width: 30%;
	margin: 5%;
	margin-left: 10%;
}

.mypage-userinfo-right {
	width: 70%;
	margin: 5%;
}

#userinfo-logo {
	width: 165px;
}


.mypage-profile-icon-box {
	width: 150px;
	height: 150px;
	border-radius: 70%;
	overflow: hidden;
}

.mypage-profile-icon {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.xid-wrap {}

#xid-title {
	margin: 0;
	padding: 0;

}


/*인풋*/
.form-input {
	font-family: 'CustomFont', sans-serif;
	font-weight: 900;
	width: 90%;
	height: auto;
	background: rgb(255, 255, 255);
	position: relative;
	margin-bottom: 30px;
	border-radius: 7px;
	border: 1.5px solid blue;
}

.form-element-input {
	font-family: 'CustomFont', sans-serif;
	font-weight: 900;
	outline: none;
	height: 2.5rem;
	display: block;
	background: none;
	padding: 0.125rem 0.125rem 0.0625rem;
	font-size: 1.5rem;
	border: 0;
	line-height: 1.5;
	width: 100%;
	color: rgb(0, 0, 0);
	box-shadow: none;
	opacity: 0.001;
	transition: opacity 0.28s ease;
	will-change: opacity;
	overflow: hidden;
}

.form-element-input::placeholder {
	font-family: 'CustomFont', sans-serif;
	color: rgb(192, 192, 192);
	transform: scale(0.9);
	transform-origin: left top;
}

.form-element-bar {
	font-family: 'CustomFont', sans-serif;
	height: 1px;
	background: #999;
	position: relative;
	display: block;
}

.form-element-bar:after {
	font-family: 'CustomFont', sans-serif;
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background: #337ab7;
	height: 2px;
	display: block;
	transform: rotateY(90deg);
	transition: transform .28s ease;
	will-change: transform;
}

.form-element-label {
	font-family: 'CustomFont', sans-serif;
	font-weight: bolder;
	position: absolute;
	top: .85rem;
	line-height: 1.5rem;
	pointer-events: none;
	padding-left: 0.125rem;
	z-index: 1;
	font-size: 1rem;
	margin: 0;
	color: rgb(0, 0, 255);
	transform: translateY(-50%);
	transform-origin: left center;
	transition: transform .28s ease, color .28s linear, opacity .28s linear;
	will-change: transform, color, opacity;
	cursor: text;
	
}

.form-element-hint {
	font-family: 'CustomFont', sans-serif;
	color: rgb(64, 128, 128);
	font-size: 1.2rem;
}




.form-element-input.hasValue~.form-element-bar::after,
.form-element-input:focus~.form-element-bar::after {
	transform: rotateY(0deg);
}

.form-element-input.hasValue~.form-element-label,
.form-element-input:focus~.form-element-label {
	color: #337ab7;
}

.form-element-input.hasValue,
.form-element-input:focus {
	opacity: 1;
}

.form-element-input.hasValue~.form-element-label,
.form-element-input:focus~.form-element-label {
	transform: translateY(-100%) translateY(-0.5em) translateY(-10px);
	cursor: pointer;
	pointer-events: auto;
}


.form-is-success .form-element-input,
.form-is-success .form-element-label,
.form-is-success .form-element-hint {
	color: #259337;
}


.form-has-error .form-element-label.form-element-label,
.form-has-error .form-element-hint {
	color: #d9534f;
}

.form-has-error .form-element-bar:after {
	background: #d9534f;
}

.form-has-error .form-element-input.hasValue~.form-element-label,
.form-has-error .form-element-input:focus~.form-element-label {
	transform: translateY(-100%) translateY(-0.5em) translateY(-2px);
	color: #d9534f cursor: pointer;
	pointer-events: auto;
}


/*사진변경 버튼*/

#change-img-button-wrap {
	width: 20%;
	margin-top: 30px;
}

#change-img-button {
	font-family: 'CustomFont', sans-serif;
	font-size: 1.0rem;
	color: #fff;
	background: linear-gradient(45deg, #ff69b4, #ff9a9e);
	border: none;
	border-radius: 20px;
	padding: 10px 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: background 0.3s ease, transform 0.3s ease;
	margin-right: 1%;
	width: 62%;
	font-weight: 900;
	height: 50px;
}

#change-img-button:hover {
	background: linear-gradient(45deg,
			#ff85c1,
			#ffb6c1);
	/* 호버 시 배경색 그라데이션 변경 */
	transform: scale(1.05);
	/* 호버 시 살짝 위로 이동 */
}

/*닉변 버튼*/
#change-nickname-button-wrap {
	width: 90%;
	margin-top: 0px;
	text-align: end;
}

#change-nickname-button {
	font-family: 'CustomFont', sans-serif;
	font-size: 1.0rem;
	color: #fff;
	background: linear-gradient(45deg, #ff69b4, #ff9a9e);
	border: none;
	border-radius: 20px;
	padding: 10px 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: background 0.3s ease, transform 0.3s ease;
	margin-right: 1%;
	width: 62%;
	font-weight: 900;
	height: 50px;
}

#change-nickname-button:hover {
	background: linear-gradient(45deg,
			#ff85c1,
			#ffb6c1);
	/* 호버 시 배경색 그라데이션 변경 */
	transform: scale(1.05);
	/* 호버 시 살짝 위로 이동 */
}



/*파일 인풋*/

