.mypage-goods-container {
	font-family: 'CustomFont', sans-serif;
	font-weight: 900;
	position: relative;
	width: 60vw;
	display: flex;
	flex-direction: column;
	gap: 0px 20px;
	left: 48%;
	transform: translateX(-50%);
}

.goods-info-box {
	display: flex;
	justify-content: space-evenly;
	width: 30vh;
	height: 55.67px;
	box-shadow: 0 0 0 2px azure;
	border-radius: 10px;
	background-color: azure;
	align-items: center;
}

.goods-content {
	display: flex;
	width: 10 +0%;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px 3px;
	margin-top: 15px;
}

/*.goods-info-box>div {
	text-align: center;
}*/

.goods-info-icon {
	text-align: center;
	width: 50px;
	height: 50px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 70%;
}

.goods-info-icon img {
	width: 100%;
	height: 100%;
}

.goods-info-member {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;


}

.goods-info-count {
	width: 20%;
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.goods-info-select {
	font-family: 'CustomFont', sans-serif;
	font-weight: bolder;
	height: 70%;
	font-size: 1.0rem;
	border-radius: 8%;
	border: 1px solid;
	text-align: center;
}

.info-button-icon {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.goods-info-button {
	margin-top: 20px;
	font-family: 'CustomFont', sans-serif;
	font-weight: 900;
	padding: 1.5em 3em;
	border-radius: 15px;
	/*background: #7986cb;*/
	font-size: 2rem;
	padding: 0;
	color: rgb(255, 255, 255);
	-webkit-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
	display: flex;
	justify-content: center;
}

.goods-info-button.button--inverted {
	background: #ECEFF1;
	color: #37474f;
}

.goods-info-button::before {
	position: absolute;
	top: -20px;
	left: -20px;
	bottom: -20px;
	right: -20px;
	background: inherit;
	border-radius: 50px;
	z-index: -1;
	opacity: 0.4;
	-webkit-transform: scale3d(0.8, 0.5, 1);
	transform: scale3d(0.8, 0.5, 1);
}

.goods-info-button:hover {
	-webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	color: #1e181a;
	background-color: #3f51b5;
	-webkit-animation: anim-moema-1 0.3s forwards;
	animation: anim-moema-1 0.3s forwards;
}


.goods-info-button.button--inverted:hover {
	color: #ECEFF1;
	background-color: #7986cb;
}

.goods-info-button:hover::before {
	-webkit-animation: anim-moema-2 0.3s 0.3s forwards;
	animation: anim-moema-2 0.3s 0.3s forwards;
}

@-webkit-keyframes anim-moema-1 {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}

	85% {
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes anim-moema-1 {
	60% {
		transform: scale3d(0.8, 0.8, 1);
	}

	85% {
		transform: scale3d(1.1, 1.1, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes anim-moema-1 {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}

	85% {
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@-webkit-keyframes anim-moema-2 {
	to {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes anim-moema-2 {
	to {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

/*버튼 개별 설정*/
#info-button1 {
	background: rgb(255, 182, 193);
}

#info-button2 {
	background: #A5CDEC;
}

#info-button3 {
	background: rgb(128, 128, 0);
}

#info-button4 {
	background: #C25B7C;
}

#info-button5 {
	background: #FFD6D4;
}

#info-button6 {
	background: #D1B7A4;
}

#info-button7 {
	background: #C4BEC9;
}

#info-button8 {
	background: #DE617E;
}

#info-button9 {
	background: #B2E2F7;
}

#info-button10 {
	background: #BF8ADE;
}

#info-button1:hover {
	-webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	color: #1e181a;
	background-color: rgb(255, 255, 128);
	-webkit-animation: anim-moema-1 0.3s forwards;
	animation: anim-moema-1 0.3s forwards;
}

#info-button2:hover {
	-webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	color: #1e181a;
	background-color: rgb(255, 255, 128);
	-webkit-animation: anim-moema-1 0.3s forwards;
	animation: anim-moema-1 0.3s forwards;
}

#info-button3:hover {
	-webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	color: #1e181a;
	background-color: rgb(255, 255, 128);
	-webkit-animation: anim-moema-1 0.3s forwards;
	animation: anim-moema-1 0.3s forwards;
}

#info-button4:hover {
	-webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	color: #1e181a;
	background-color: rgb(255, 255, 128);
	-webkit-animation: anim-moema-1 0.3s forwards;
	animation: anim-moema-1 0.3s forwards;
}

#info-button5:hover {
	-webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	color: #1e181a;
	background-color: rgb(255, 255, 128);
	-webkit-animation: anim-moema-1 0.3s forwards;
	animation: anim-moema-1 0.3s forwards;
}

#info-button6:hover {
	-webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	color: #1e181a;
	background-color: rgb(255, 255, 128);
	-webkit-animation: anim-moema-1 0.3s forwards;
	animation: anim-moema-1 0.3s forwards;
}

#info-button7:hover {
	-webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	color: #1e181a;
	background-color: rgb(255, 255, 128);
	-webkit-animation: anim-moema-1 0.3s forwards;
	animation: anim-moema-1 0.3s forwards;
}

#info-button8:hover {
	-webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	color: #1e181a;
	background-color: rgb(255, 255, 128);
	-webkit-animation: anim-moema-1 0.3s forwards;
	animation: anim-moema-1 0.3s forwards;
}

#info-button9:hover {
	-webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	color: #1e181a;
	background-color: rgb(255, 255, 128);
	-webkit-animation: anim-moema-1 0.3s forwards;
	animation: anim-moema-1 0.3s forwards;
}

#info-button10:hover {
	-webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	color: #1e181a;
	background-color: rgb(255, 255, 128);
	-webkit-animation: anim-moema-1 0.3s forwards;
	animation: anim-moema-1 0.3s forwards;
}