@font-face {
	font-family: 'Uzura';
	src: url('fonts/uzura.ttf') format('truetype');
}

.register-section {
	position: relative;
	height: 100vh;
	display: flex;
	background-image: url('../haco_img/background/background_akai_akame.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	align-items: center;
}


.register-container {
	font-family: 'Uzura', sans-serif;
	display: flex;
	justify-content: center;
	width: 400px;
	height: 821px;
	border: 1px solid black;
	position: absolute;
	top: 0;
	z-index: 3;
}

.register-items {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.register-profile-wrap {
	width: 100%;
}

.register-profile-box {
	width: 150px;
	height: 150px;
	border-radius: 70%;
	overflow: hidden;
	border: 3px solid black;
}

.register-profile {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


#register-button-div {
	position: absolute;
	bottom: 77px;
	left: 45%;
}

#register-submit-button{
	border: 3px solid black;
    font-size: 16pt;
    border-radius: 12px;
}

.waku-wrap {
	display: flex;
	align-items: center;
}


.waku-wrap {
	background-image: url('account/register/shortsUI.png');
	background-size: cover;
	background-position: center;
	border-radius: 30px;
	width: 400px;
	height: 821px;
	position: absolute;
	right: 100px;
	z-index: 3;
	top: 28%;
}


#register-nickname-text {
	color: white;

}


/*μΈν’‹*/
.form-input {
	width: 250px;
	height: auto;
	background: rgb(0, 255, 255);
	margin: auto;
	position: relative;
	margin-bottom: 30px;
	border-radius: 7px;
	border: 1.5px solid blue;
}

.form-element-input {
	font-family: 'Uzura', sans-serif;
	outline: none;
	height: 2.5rem;
	display: block;
	background: none;
	padding: 0.125rem 0.125rem 0.0625rem;
	font-size: 1.5rem;
	border: 0;
	line-height: 1.5;
	width: 100%;
	color: rgb(0, 0, 0);
	box-shadow: none;
	opacity: 0.001;
	transition: opacity 0.28s ease;
	will-change: opacity;
}

.form-element-input::placeholder {
	font-family: 'Uzura', sans-serif;
	color: rgb(0, 0, 0);
	transform: scale(0.9);
	transform-origin: left top;
}

.form-element-bar {
	height: 1px;
	background: #999;
	position: relative;
	display: block;
}

.form-element-bar:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background: #337ab7;
	height: 2px;
	display: block;
	transform: rotateY(90deg);
	transition: transform .28s ease;
	will-change: transform;
}

.form-element-label {
	font-family: 'Uzura', sans-serif;
	position: absolute;
	top: .85rem;
	line-height: 1.5rem;
	pointer-events: none;
	padding-left: 0.125rem;
	z-index: 1;
	font-size: 1rem;
	margin: 0;
	color: rgb(0, 0, 0);
	transform: translateY(-50%);
	transform-origin: left center;
	transition: transform .28s ease, color .28s linear, opacity .28s linear;
	will-change: transform, color, opacity;
	cursor: text;
}

.form-element-hint {
	font-family: 'Uzura', sans-serif;
	color: #aaa;
}




.form-element-input.hasValue~.form-element-bar::after,
.form-element-input:focus~.form-element-bar::after {
	transform: rotateY(0deg);
}

.form-element-input.hasValue~.form-element-label,
.form-element-input:focus~.form-element-label {
	color: #337ab7;
}

.form-element-input.hasValue,
.form-element-input:focus {
	opacity: 1;
}

.form-element-input.hasValue~.form-element-label,
.form-element-input:focus~.form-element-label {
	transform: translateY(-100%) translateY(-0.5em) translateY(-2px);
	cursor: pointer;
	pointer-events: auto;
}


.form-is-success .form-element-input,
.form-is-success .form-element-label,
.form-is-success .form-element-hint {
	color: #259337;
}


.form-has-error .form-element-label.form-element-label,
.form-has-error .form-element-hint {
	color: #d9534f;
}

.form-has-error .form-element-bar:after {
	background: #d9534f;
}

.form-has-error .form-element-input.hasValue~.form-element-label,
.form-has-error .form-element-input:focus~.form-element-label {
	transform: translateY(-100%) translateY(-0.5em) translateY(-2px);
	color: #d9534f cursor: pointer;
	pointer-events: auto;
}