@charset "UTF-8";

.schedule-container {
	height: auto;
	margin-top: 2%;
}

.s-week-list {
	margin: 0 auto;
}

/* 탭 스타일 */
.tab_item {
	width: calc(100% / 8);
	height: 50px;
	border-bottom: 3px solid #333333;
	background-color: #f8f8f8;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	color: #333333;
	display: block;
	float: left;
	font-weight: bold;
	transition: all 0.2s ease;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* 라디오 버튼 UI 삭제 */
.s-week-list input[name="tab_item"] {
	display: none;
}

/* 탭 컨텐츠 스타일 */
.tab_content {
	display: none;
	clear: both;
}

/* 선택 된 탭 콘텐츠를 표시 */
#s-mon:checked~.day1-content,
#s-tue:checked~.day2-content,
#s-wed:checked~.day3-content,
#s-thu:checked~.day4-content,
#s-fri:checked~.day5-content,
#s-sat:checked~.day6-content,
#s-sun:checked~.day7-content {
	display: block;
}

/* 요일별 선택됐을 때 탭 스타일 */
#s-mon:checked+.tab_item {
	background-color: lightpink;
	transform-origin: bottom;
	transform: scaleY(1.2);
}

#s-mon:hover+.tab_item {
	background-color: lightpink;
	transform-origin: bottom;
	transform: scaleY(1.2);
}

#s-tue:checked+.tab_item {
	background-color: #b7f1ff;
	transform-origin: bottom;
	transform: scaleY(1.2);
}

#s-tue:hover+.tab_item {
	background-color: #b7f1ff;
	transform-origin: bottom;
	transform: scaleY(1.2);
}

#s-wed:checked+.tab_item {
	background-color: #d1b7a4;
	transform-origin: bottom;
	transform: scaleY(1.2);
}

#s-wed:hover+.tab_item {
	background-color: #d1b7a4;
	transform-origin: bottom;
	transform: scaleY(1.2);
}

#s-thu:checked+.tab_item {
	background-color: #ffe089;
	transform-origin: bottom;
	transform: scaleY(1.2);
}

#s-thu:hover+.tab_item {
	background-color: #ffe089;
	transform-origin: bottom;
	transform: scaleY(1.2);
}

#s-fri:checked+.tab_item {
	background-color: #cf80e0;
	transform-origin: bottom;
	transform: scaleY(1.2);
}

#s-fri:hover+.tab_item {
	background-color: #cf80e0;
	transform-origin: bottom;
	transform: scaleY(1.2);
}

#s-sat:checked+.tab_item {
	background-color: #ffa658;
	transform-origin: bottom;
	transform: scaleY(1.2);
}

#s-sat:hover+.tab_item {
	background-color: #ffa658;
	transform-origin: bottom;
	transform: scaleY(1.2);
}

#s-sun:checked+.tab_item {
	background-color: #bdde87;
	transform-origin: bottom;
	transform: scaleY(1.2);
}

#s-sun:hover+.tab_item {
	background-color: #bdde87;
	transform-origin: bottom;
	transform: scaleY(1.2);
}


.s-time-list {
	display: flex;
}

.s-time {
	width: calc(100% / 8);
	min-height: 50px;
	/*display flex 설정해도 width가 변하지 않게*/
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-style: dotted;
	border-right-style: inset;
	border-color: white;
}

.n-time {
	border-bottom-style: none;
}

.s-data-box {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.s-data {
	width: calc(100% / 7);
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	box-shadow: 0 0 0 2px white inset;
	border-radius: 13px;
}
.s-data:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	opacity: 0.8;
}

.s-data-title {
	display: none;
	position: absolute;
	z-index: 900;
	width: 60%;
	padding: 1%;
	background-color: rgb(0 0 0 / 39%);
	border-radius: 15px;
	color: white;
	bottom: 90%;
}

.s-title-text-box{
	display: flex;
    flex-direction: column;
    align-items: center
}

.s-title-button-box {
	display: flex;
	justify-content: space-around;
	padding-top: 5%;
}

.s-data:hover .s-data-title {
	display: block;
}

/* insert css */
.s-insert-a-container {
	border: 1px solid green;
	padding: 1%;
	display: flex;
}

#schedule-insert-detail-button{
	font-family: "Noto Sans JP", sans-serif;
    font-size: 1rem;
    color: #fff;
    background: linear-gradient(45deg, #ff69b4, #ff9a9e);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    left: 1%;
}
#schedule-insert-detail-button:hover {
  background: linear-gradient(
    45deg,
    #ff85c1,
    #ffb6c1
  ); /* 호버 시 배경색 그라데이션 변경 */
  transform: translateY(-3px); /* 호버 시 살짝 위로 이동 */
}
.s-insert-content-a-box {
	display: none;
}

.s-insert-content-b-box{
	display: flex;
}
.s-input-box{
	display: flex;
}
#s-member-list {

}
