.trade-container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.trade-container div {
  border: 1px solid black;
}

.trade-title {
  background-color: lightgreen;
}

.trade-conmain {
  width: 100%;
  height: auto;
}

.trade-content {
  margin: 20px 10px;
}
.trade-content > div:nth-child(1) {
  display: flex;
}
.trade-content > div:nth-child(1) div {
  padding: 10px;
}
.trade-content > div:nth-child(1) > div:nth-child(3) {
  flex: 1;
}
.trade-con-title {
  padding: 10px;
}
.trade-con-date {
  font-size: 10pt;
}
.trade-con-txt {
  font-size: 13pt;
  text-align: left;
}
.trade-number {
  padding: 0px 5px;
}
.trade-bottom {
  display: flex;
  justify-content: space-between;
}
#insert-button {
  padding: 5px 0px;
}
#trade-title {
  width: 95%;
}
.trade-page-no {
  margin: 0px 10px;
}
