.trade-container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
/* .trade-container div {
  border: 1px solid black;
} */

.trade-title {
  background-color: lightgreen;
}

.trade-conmain {
  width: 100%;
  height: auto;
}
.trade-comments {
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
}
.trade-comments > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  background-color: rgb(230, 230, 230);
}
.trade-comments > div {
  padding: 5px;
}
.trade-content {
  margin: 20px 10px;
  border-bottom: 1px solid gray;
}
.trade-content > div:nth-child(1) {
  display: flex;
  background-color: aqua;
}
.trade-content > div:nth-child(1) > div:nth-child(3) {
  flex: 1;
}
.trade-content > div:nth-child(1) > div:nth-child(4) {
  width: 150px;
}
.trade-content > div:nth-child(2) {
  display: flex;
}
.trade-content > div:nth-child(1) div {
  padding: 10px;
}
.crud-icon {
  width: 20px;
  height: 20px;
  margin: 10px;
}
.crud-icon:hover {
  cursor: pointer;
}
.trade-con-title {
  padding: 10px;
  flex: 1;
}
.trade-con-date {
  font-size: 10pt;
}
.trade-con-txt {
  font-size: 13pt;
  text-align: left;
}
.trade-number {
  padding: 0px 5px;
}
.trade-bottom {
  display: flex;
  justify-content: space-between;
}
#insert-button {
  padding: 5px 0px;
}
#trade-title {
  width: 95%;
}

.trade-page-no {
  margin: 0px 10px;
}

.trade-category {
  font-size: 11pt;
  display: flex;
  flex-wrap: wrap;
}
.trade-category > div {
  border: 1px solid gray;
  border-radius: 30px;
  padding: 5px;
  margin: 5px;
}

.trade-goods-category {
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  border: 1px solid black;
  font-size: 8pt;
  padding: 0px;
}
